# Environment files
.env
.env.*
*/.env
.env/*

# Python cache
__pycache__/
*/__pycache__/
*.pyc

# Logs
*.log
logs/
logs/*


results/
checkpoints/
*.pt
*.pth
*.bin
*.safetensors

*/results/
*/checkpoints/
*/*.pt
*/*.pth
*/*.bin
*/*.safetensors

*/fine_tuned_model_v1/
fine_tuned_model_v1/*
fine_tuned_model_v1/

*/data_1/customer_support_tickets_200k.csv
C:\Users\kuchbhe\Desktop\assessments\ArtikateStudioMLAssessment\Task03-finetuning\data_1\customer_support_tickets_200k.csv